VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=mg-fms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mg-fms
VITE_FIREBASE_STORAGE_BUCKET=mg-fms.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# 2FA OTP — set to "true" to enable
VITE_OTP_ENABLED=false

# Brevo (2FA OTP)
VITE_BREVO_API_KEY=
VITE_BREVO_SENDER_EMAIL=
VITE_BREVO_SENDER_NAME=MG Fleet Portal
